body{
  background: #fff !important;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

input:focus, textarea:focus {
	outline: none !important;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}
#left_sidebar {
  overflow: hidden;
  z-index: 3;
  transition: 0.5s;
  margin-right: 1px solid #ccc;
  
}

#left_sidebar.overflow_control {
  overflow-x: auto !important;
}

.d_show {
  display: block !important;
}

#left_sidebar ul li {
  list-style: none;
  margin-left: -2.3rem;
}

#left_sidebar ul li a{
  font-weight: 600;
  color: #004987;
}

.block-code {
  background-color: #c6f7f8;
  color: #021688;
  padding: .5em 1em;
  overflow: auto;
  word-wrap: normal;
  width: max-content;
}

#main_page
{
  border-left: 1px solid #ccc;
  margin-left: 1rem;
  height: 100vh;
}
.toggole_icon
{
  position: absolute;
  margin-left: -1.9rem;
  top:50%;
}

/******************/

.myaccordion {
 
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 14px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: 600;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.collapse>*
{
  margin-left: 1rem;
  border: none;
}
.card-body
{
  padding-top: 0px;
  padding-bottom: 0px;
}
.card-header
{
  padding-top: 0px;
}
.btn.white-green
{
  background-color: #fff;
  color: green;
}
#right_sidebar
{
  background: #F3F6F8;
  padding: 1rem;
}