body{
  background: #fff !important;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

input:focus, textarea:focus {
	outline: none !important;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}
#left_sidebar {
  overflow: hidden;
  z-index: 3;
  transition: 0.5s;
  margin-right: 1px solid #ccc;
  
}

#left_sidebar.overflow_control {
  overflow-x: auto !important;
}

.d_show {
  display: block !important;
}

#left_sidebar ul li {
  list-style: none;
  margin-left: -2.3rem;
}

#left_sidebar ul li a{
  font-weight: 600;
  color: #004987;
}

.block-code {
  background-color: #c6f7f8;
  color: #021688;
  padding: .5em 1em;
  overflow: auto;
  word-wrap: normal;
  width: max-content;
}

#main_page
{
  
  height: auto;
}
#bar_btn
{
  cursor: pointer;
}
.design-side
{
  padding-left: 1rem;
  border-left: 1px solid #ccc;
  min-height: 100vh;
  height: 100%;
}
.toggole_icon
{
  position: fixed;
  margin-left: -1.6rem;
  top:50vh;
}
.btn.white-green
{
  background-color: #fff;
  color: green;
  border-radius: 5px;
  border:1px solid #ccc;
}
.btn.black-red
{
  background-color: rgb(121, 119, 119);
  color: rgb(206, 9, 9);
  border-radius: 5px;
  border:1px solid #fff;
}

#right_sidebar
{
  min-height: 100vh;
  padding: 1rem;
}

/*******Left Sidebar collapse**********/

.list-group.list-group-root {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}


.list-group-item .icons {
  margin-right: 5px;
}
.collapse {
  display: none;
 
}
.formatter
{
  background: #F3F6F8;
}